.custom-swiper .swiper-button-next,
.custom-swiper .swiper-button-prev {
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: bold;
  top: 40%;
}

.custom-swiper .swiper-button-next::after,
.custom-swiper .swiper-button-prev::after {
  font-size: 16px;
}

.custom-swiper .swiper-pagination-bullet {
  background-color: black;
  opacity: 0.4;
}

.custom-swiper .swiper-pagination-bullet-active {
  background-color: black;
  opacity: 1;
}